body {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 10px;
  row-gap: 10px;
}

button {
  color: white;
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 22px;
}

.special-bottom {
  background-color: rgb(255, 179, 0);
}